// Place all the styles related to the Machines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//show
.show-table {
  border-collapse: collapse;
  tbody tr td {
    border: solid 1px #555;
  }
}

//diff
.diff-new {
  background-color: #cfc;
  span {
    color: green;
  }
}
.diff-old {
  background-color: #fcc;
  span {
    color: crimson;
  }
}