div style="min-height: 100vh;"
  .side-index.manufacturers
    | メーカー別
    ul
      - @manufacturers.each do |manufacturer|
        li
          = link_to "#{t("machine.manufacturer.#{manufacturer}")}", index_path(manufacturer: "#{manufacturer}"), method: :post


  .side-index.archetypes
    | タイプ別
    ul
      - @archetypes.each do |archetype|
        li
          = link_to "#{t("machine.archetype.#{archetype}")}", index_path(archetype: "#{archetype}"), method: :post

  .side-index.specs
    | スペック別
    ul
      - @specs.each do |spec|
        li
          = link_to "#{t("machine.spec.#{spec}")}", index_path(spec: "#{spec}"), method: :post

  p
    | 最終更新日時
    br
    = @sidebar_machines.first.updated_at

  - @dates.each do |date|
    p
      = date
      br
      - @sidebar_machines.where(updated_at: date.all_day).each do |machine|
        = link_to "#{machine.name}", machine_path(machine)
      br